
        html { font-size: 1.5vmax; }

        h1, h3, h4, h5 { text-align: center; }

        main {
          display: flex;
          flex-wrap: wrap;
        }

        article {
          flex: 70%;
          padding: 3vh;
        }

        aside {
          flex: 30%;
          padding: 3vh;
        }

        article > header {
          padding: 45vh 0 2rem 2rem;
        }