/* Mobile CSS */

html { font-size: 2.5vmax; }

nav, main, label[for=show-menu] {
  flex-direction: column;
  flex: 100%;
}

nav a {
  padding-left: 2vw;
  font-size: 2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside, article {
  padding: 1vh 3vw;
  flex: 100%;
}

h1, h1 > a {
  font-size: 2.1rem;
}

h1, h2, h3, h4, h5 { text-align: center; }

body > header {
  height: auto;
  padding: 2rem;
}

iframe {
  height: 54vw;
}

/* Navigation elements */

nav {
  display: none;
}

input[type=checkbox]:checked ~ nav {
  display: flex;
  border-top: 0;
}

.fa-bars {
  display: block;
  padding-left: 2vw;
  font-size: 2rem;
}

label[for=show-menu] {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(21, 29, 76);
  border-top: 1px solid rgb(254, 250, 159);
  border-bottom: 1px solid rgb(254, 250, 159);
}

