
        html { font-size: 1vmax; }

        main {
          display: flex;
          flex-wrap: wrap;
        }

        article {
          flex: 70%;
          padding: 2vh 3vw 2vh 1.5vw;
        }

        aside {
          flex: 30%;
          padding: 2vh 1.5vw 2vh 3vw;
        }

        article > header {
          padding: 45vh 0 3rem 3rem;
        }

        nav {
          display: flex;
          justify-content: center;
        }

        nav ul li {
          float: left;
        }
