
        html { font-size: 2vmax; }

        h1, h3, h4, h5 { text-align: center; }

        main {
          display: flex;
          flex-wrap: wrap;
        }

        article {
          flex: 60%;
          padding: 3vh;
        }

        aside {
          flex: 40%;
          padding: 3vh;
        }

        article > header {
          padding: 40vh 0 1rem 1rem;
        }