
        html { font-size: 2.5vmax; }

        main, aside, article { width: 100%; }

        aside, article { padding: 1vh 2vw; }

        article > header {
          padding: 50vh 1rem 1rem 1rem;
        }

        h1, h1 > a { font-size: 1.8rem; }

        h1, h2, h3, h4, h5, article > header > p { text-align: center; }

        body > header {
          height: auto;
          padding: 1rem;
        }

        p.site_slogan, footer > p { font-size: 1.2rem; }

        iframe { height: 54vw; }

        /* Navigation elements */
        label[for=show-menu] {
          text-decoration: none;
          color: rgb(254, 250, 159);
          background-color: rgb(21, 29, 76);
          border-top: 1px solid rgb(254, 250, 159);
          border-bottom: 1px solid rgb(254, 250, 159);
        }

        .fa-bars {
          padding-left: 2vw;
          font-size: 2rem;
        }

        label[for=show-menu], .fa-bars { display: block; }

        nav ul {
          border: none;
        }

        nav ul li {
          display: list-item;
          position: static;
          border-top: 1px dashed rgb(254, 250, 159);
        }

        nav ul li:first-child, nav ul li.last-child {
          border-top: none;
        }

        nav li ul {
          border-top: none;
          border-bottom: none;
        }

        nav ul li:hover > ul,
        nav ul li:focus-within > ul,
        nav ul li ul:hover,
        nav ul li ul:focus {
          border-top-style: dashed;
        }

        nav a {
          padding-left: 2vw;
          font-size: 2rem;
        }

        nav { display: none; }

        input[type=checkbox]:checked + nav {
          display: block;
          border-top: none;
        }
